.iconos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  gap: 15px;
}

.iconos svg {
  fill:var(--color_marron);
  height: 1.8rem;
  z-index: -1;
}

.iconos button {
  background-color: #f5f5dc00;
  border: none;
  cursor: pointer;  
  
  padding: 0;
}

.iconos svg:hover{
  transform: scale(1.2);
  transition: 500ms;
}

.tooltip {
  position: relative;
  display: inline-block;

  font-family: system-ui, sans-serif;
  font-size: .7rem;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: -120%;
  left: 50%;
  margin-left: -55px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -40%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
  rotate: 180deg;  
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}