.obras_home{
  display: flex;
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.obras{
  width: 100%;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.obras main{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.botones-obras{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8rem;
  gap: 10px;
}

.botones-obras .button_animal .img_container{
  display: none;
}

.botones-obras .button_animal h2{
 background-color:beige;
 border-radius: 15px;
 border: 1px solid var(--color_marron);
 padding: 10px;
 font-weight: bold;
}

.loading_container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  font-size: 1.3rem;
  color: var(--color_marron);
}

@media only screen and (max-width: 600px) {
  .obras_home{
    min-height: 0;
  }
  .obras_home .botones-obras{
    gap: 3px;
    margin-top: 10rem;
    margin-left: 10px ;
    margin-right: 10px ;
  }
}